h1{
    font-family: 'Times New Roman', Times, serif;
    color: #11ecec;
    font-size:30px;

}



h2{
    font-family: 'Times New Roman', Times, serif;
    color: #11ecec;
    font-size:30px;
}



h3{
    font-family: 'Times New Roman', Times, serif;
    color: #11ecec;
    font-size:30px;
}

